// .coins{
//     width: 80%;
//     display: flex;
//     flex-direction: column;
//     margin: auto;
//     align-items: space-evenly;
//     flex-wrap: wrap;
//     justify-content: center;
//     }>.actual-coin{
//         width: 80%;
//     }
//     
    
.coins{
    width: 80%;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.actual-coin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btns{
            width: 80%;
            margin: auto;
            overflow-y: hidden;
            // background-color: #783b3b;
        }
.btns button{
            padding: 5px;
            background-color: black;
            color: white;
            margin: 0.2rem;
            border-radius: 5px;
        }
button:hover{
            transform: scale(1.1);}


@media screen and (max-width: 400px) {
    .actual-coin{
        flex-direction: column;
        >a{
            width: 80%;
        }

    }
}

            