.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgb(23, 21, 21);
    >h4{
        color: white;
    }
}
@media screen and (max-width: 400px){
    .footer{
        >h4{
            text-align: center;
        }
    }
}